@import 'utilities';
@import 'container';
@import 'imgSlider';


body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display:grid;
  place-items:center;
}

a{
  text-decoration: none;
  padding: 10px;
  margin-left: 5px;
  color: #111;
  border-radius: 5px;
  border: 1px solid #111;
  background-color:transparent;
}

a:hover{
  color:#fff;
  background-color: #333;
}

header {
  width: 80%;
  height: 100vh;
  @include gridCenter;
  grid-template-columns: 1fr;


  nav {
    width: 100%;
    @include flexCenter;
    }


  .cardWrapper {
    width: 100%;
    background-color: #555;
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;


    .card {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      background-color: #ccc;
      position: relative;

    }

    .card1 {
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;
      background-color: #000;
      transition: all 0.75s ease-in-out;
    }

    .card2 {
      position: absolute;
      width: 50px;
      height: 50px;
      display: grid;
      place-items: center;
      background-color: transparent;
      color: transparent;
      transform: translateX(125px);
      transition: all 0.75s ease-in-out;
    }


    .card.active .card1 {
      transform: translateX(-125px);
      background-color: transparent;
      color: transparent;

    }

    .card.active .card2 {
      transform: translateX(0);
      background-color: #ddd;
      color: #111;


    }

  }
}

